    {% extends 'base.html' %}

    {% block content %}

    <section class="content">
    <header>
        <h1>Welcome, Route setter!</h1>
    </header>
        
    <p>Your profile page is under construction.</p>

    <h1>All Boulders</h1>

    {% if boulders %}
        <table class="table table-striped table-bordered" style="background-color: #76ABAE">
        <thead>
            <tr>
            <th class="text-center">Set Date</th>
            <th class="text-center">Name</th>
            <th class="text-center">Color of holds</th>
            <th class="text-center">Difficulty</th>
            <th class="text-center">Number of Moves</th>
            <th class="text-center">Description</th>
            <th class="text-center">Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for boulder in boulders %}
            <tr>
            <td>{{ boulder.set_date }}</td>
            <td>{{ boulder.name }}</td>
            <td style="background-color: {{ boulder.color }};"></td>
            <td>V{{ boulder.difficulty }}</td>
            <td>{{ boulder.numberofmoves }}</td>
            <td>{{ boulder.description }}</td>
            <td>
                <a class="btn btn-warning" href="{{ url_for('create_boulder.update_boulder_form', id=boulder.id) }}">Update</a>
                <br>
                <form action="{{ url_for('create_boulder.delete_boulder', id=boulder.id) }}" method="post">
                <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    {% else %}
        <p>No boulders found.</p>
    {% endif %}

    <a href="{{ url_for('create_boulder.add_boulder_page') }}" class="btn btn-secondary">ADD BOULDER</a>
    <a href="{{ url_for('auth.logout') }}" class="btn btn-secondary">Log Out</a>
    </section>
    {% endblock %}
