{% extends 'base.html' %}

{% block content %}
<section class="w-full px-5 mt-3 mb-20">
    <h1 class="mb-6 text-3xl font-bold">Completed Boulders</h1>
    {% if archived_boulders %}
        {% for boulder in archived_boulders %}
            <div class="flex flex-col w-full h-auto mx-auto mb-4 overflow-hidden border rounded-lg shadow dark:border-gray-700 dark:bg-gray-800">
                <h5 class="p-4 mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">{{ boulder.name }} (V{{ boulder.difficulty }})</h5>
                <p class="px-4 mb-1 font-normal text-gray-700 line-clamp-3 dark:text-gray-400">Description: {{ boulder.description }}</p>
                
                <div class="flex flex-col justify-between w-full pl-4 leading-normal">
                <p class="mb-1 font-normal text-gray-700 dark:text-gray-400">
                    Color of holds:
                    <div style="background-color: {{ boulder.color }}; width: 25px; height: 25px; border-radius: 50%;"></div>
                </p>
                <p class="mb-1 font-normal text-gray-700 dark:text-gray-400">Number of moves: {{ boulder.numberofmoves }}</p>
                </div>


                {% set attempts_for_boulder = [] %}
                {% for attempt in attempts %}
                    {% if attempt.boulder_id == boulder.id %}
                        {% set attempts_for_boulder = attempts_for_boulder.append(attempt) %}
                    {% endif %}
                {% endfor %}

                <div class="flex flex-col px-3 py-2 mt-4">
                    <!-- Header Row -->
                    <div class="flex flex-wrap justify-between mb-2 font-semibold text-left text-gray-700 dark:text-gray-300">
                        <div class="w-1/6 text-sm font-thin">Moves</div>
                        <div class="w-1/4 text-sm font-thin">Attempts made</div>
                        <div class="w-1/4 text-sm font-thin">Date</div>
                        <div class="w-1/4 text-sm font-thin">Achievements</div>
                    </div>
                    
                    <!-- Data Row -->
                    <div class="flex flex-wrap items-start justify-between text-left text-gray-900 dark:text-white">
                        <!-- Column 1: Number of Moves Completed -->
                        <div class="flex flex-col w-1/6 mb-2">
                            {% if attempts_for_boulder %}
                                {% set attempt = attempts_for_boulder[0] %}
                                <p class="text-lg font-bold">{{ attempt.moves_completed }} / {{ boulder.numberofmoves }}</p>
                            {% else %}
                                <p class="text-lg font-semibold">No ascent logged</p>
                            {% endif %}
                        </div>
                    
                        <!-- Column 2: Status -->
                        <div class="flex flex-col w-1/4 mb-2 items-left">
                            {% if attempts_for_boulder %}
                                {% set attempt = attempts_for_boulder[0] %}
                                <p class="text-lg font-bold break-words">
                                    {% if attempt.status == 'flashed' %}
                                        Flashed
                                    {% elif attempt.status == 'completed' %}
                                        {{ attempt.number_of_attempts }}
                                    {% elif attempt.status == 'incomplete' %}
                                        Incomplete ({{ attempt.moves_completed }} / {{ boulder.numberofmoves }} moves)
                                    {% endif %}
                                </p>
                            {% else %}
                                <p class="text-lg font-semibold">No log</p>
                            {% endif %}
                        </div>
                    
                        <!-- Column 3: Attempt Date -->
                        <div class="flex flex-col w-1/4 mb-2">
                            {% if attempts_for_boulder %}
                                {% set attempt = attempts_for_boulder[0] %}
                                <p class="text-base font-bold break-words">{{ attempt.attempt_date }}</p>
                            {% else %}
                                <p class="text-lg font-bold">No date logged</p>
                            {% endif %}
                        </div>
                    
                        <!-- Column 4: Achievements -->
                        <div class="flex flex-col items-center w-1/4 mb-2">
                            {% if attempts_for_boulder %}
                                {% set attempt = attempts_for_boulder[0] %}
                                <p class="flex items-center justify-center text-sm font-bold">
                                    {% if attempt.status == 'flashed' %}
                                        <img src="{{ url_for('static', filename='images/gold-medal-svgrepo-com.svg') }}" alt="Gold Medal" class="w-8 h-8">
                                    {% elif attempt.status == 'completed' %}
                                        {% if attempt.number_of_attempts >= 2 and attempt.number_of_attempts < 5 %}
                                            <img src="{{ url_for('static', filename='images/silver-medal-svgrepo-com.svg') }}" alt="Silver Medal" class="w-8 h-8">
                                        {% elif attempt.number_of_attempts >= 5 and attempt.number_of_attempts < 8 %}
                                            <img src="{{ url_for('static', filename='images/bronze-medal-svgrepo-com.svg') }}" alt="Bronze Medal" class="w-8 h-8">
                                        {% else %}
                                            No awards
                                        {% endif %}
                                    {% endif %}
                                </p>
                            {% else %}
                                <p class="text-xl">No log</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                
                
                
                
                <div class="flex items-center justify-center">
                    {% if boulder.image %}
                    <img class="object-cover w-full pt-4 max-h-72" src="{{ url_for('static', filename='uploads/' + boulder.image) }}" alt="{{ boulder.name }}">
                    {% else %}
                    <img class="object-cover w-full pt-4 max-h-72" src="{{ url_for('static', filename='images/spray-wall.jpg') }}" alt="Spray Wall">
                    {% endif %}
                </div>
    

                <p class="mt-5 mb-5 text-center">
                    <a class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center" href="{{ url_for('log_ascent.log_ascent_user', id=boulder.id) }}">Edit Log</a>
                </p>
            </div>
        {% endfor %}
    {% else %}
        <p>No archived boulders found.</p>
    {% endif %}
</section>


    <div class="fixed bottom-0 left-0 z-50 w-full h-16 bg-white border-t border-gray-200 dark:bg-gray-700 dark:border-gray-600">
        <div class="grid h-full max-w-lg grid-cols-4 mx-auto font-medium">
            <a href="{{ url_for('auth.user_page') }}" class="inline-flex flex-col items-center justify-center px-5 border-gray-200 border-x hover:bg-gray-50 dark:hover:bg-gray-800 group dark:border-gray-600">
                <svg class="w-5 h-5 mb-2 text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
                </svg>
                <span class="text-sm text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500">Home</span>
            </a>
            <a href="{{ url_for('log_ascent.archive') }}" class="inline-flex flex-col items-center justify-center px-5 bg-gray-800 border-gray-200 border-x group dark:border-gray-600">
                <svg class="w-5 h-5 mb-2 text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M11.074 4 8.442.408A.95.95 0 0 0 7.014.254L2.926 4h8.148ZM9 13v-1a4 4 0 0 1 4-4h6V6a1 1 0 0 0-1-1H1a1 1 0 0 0-1 1v13a1 1 0 0 0 1 1h17a1 1 0 0 0 1-1v-2h-6a4 4 0 0 1-4-4Z"/>
                    <path d="M19 10h-6a2 2 0 0 0-2 2v1a2 2 0 0 0 2 2h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1Zm-4.5 3.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2ZM12.62 4h2.78L12.539.41a1.086 1.086 0 1 0-1.7 1.352L12.62 4Z"/>
                </svg>
                <span class="text-sm text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500">Archive</span>
            </a>
            <a href="{{ url_for('leaderboards.leaderboards') }}" class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 dark:hover:bg-gray-800 group">
                <svg class="w-6 h-6 mb-2 text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M3 4.5h14.25M3 9h9.75M3 13.5h5.25m5.25-.75L17.25 9m0 0L21 12.75M17.25 9v12" stroke-width="2" />
                </svg>
                <span class="text-sm text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500">Leaderboards</span>
            </a>
            <a href="{{ url_for('auth.logout') }}" class="inline-flex flex-col items-center justify-center px-5 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-800 group border-x dark:border-gray-600">
                <svg class="w-6 h-6 mb-2 text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 16">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 8h11m0 0L8 4m4 4-4 4m4-11h3a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-3"/>
                </svg>
                <span class="text-sm text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500">Log Out</span>
            </a>
        </div>
    </div>

{% endblock %}
