{% extends 'base.html' %}

{% block content %}
<section class="content">
    <header>
        <h1>Edit ascent for {{ boulder.name }}</h1>
    </header>

    <form method="post" action="{{ url_for('log_ascent.edit_log_ascent', id=boulder.id, attempt_id=attempt.id) }}">
        <div class="form-group">
            <label for="number_of_attempts">Log attempts</label>
            <input type="number" name="number_of_attempts" id="number_of_attempts" class="form-control" 
                placeholder="Log number of attempts" value="{{ attempt.number_of_attempts }}" required>
        </div>

        <div class="form-group">
            <label for="status" class="form-label">Status</label>
            <select class="form-control" id="status" name="status" required>
                <option value="incomplete" >Incomplete</option>
                <option value="completed" >Completed</option>
                <option value="flash">Flash</option>
            </select>
        </div>

        <div class="form-group">
            <label for="attempt_date">Attempt Date</label>
            <input type="date" id="attempt_date" name="attempt_date" value="{{ attempt.attempt_date.strftime('%Y-%m-%d') }}" required>
        </div>
        
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</section>
{% endblock %}
