{% extends 'base.html' %}

{% block content %}
<section class="content">
    <header>
        <h1>{{ 'Edit' if attempt else 'Log' }} ascent for {{ boulder.name }}</h1>
    </header>
    
    <form method="post" action="{{ url_for('log_ascent.log_ascent_user', id=boulder.id) }}">
        {% if attempt %}
            <input type="hidden" name="attempt_id" value="{{ attempt.id }}">
        {% endif %}

        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <div class="container mt-3">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    
        <div class="form-group">
            <label for="number_of_attempts">Log attempts</label>
            <input type="number" name="number_of_attempts" id="number_of_attempts" class="form-control" placeholder="Log number of attempts" value="{{ attempt.number_of_attempts if attempt else '' }}" required>
        </div>

        <div class="form-group">
            <label for="moves_completed">Moves Completed (out of {{ boulder.numberofmoves }})</label>
            <input type="number" name="moves_completed" id="moves_completed" class="form-control" placeholder="Enter moves completed" value="{{ attempt.moves_completed if attempt else '' }}" required>
        </div>
        
        <div class="form-group">
            <label for="attempt_date">Attempt Date</label>
            <input type="date" id="attempt_date" name="attempt_date" value="{{ attempt.attempt_date if attempt else '' }}" required>
        </div>
        
        <button type="submit" class="btn btn-primary">{{ 'Update' if attempt else 'Log' }}</button>
    </form>

    <hr>

    <!-- Ranking Section -->
    <h2>Ranking for {{ boulder.name }}</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Climber</th>
                <th>Attempts</th>
            </tr>
        </thead>
        <tbody>
            {% for rank in rankings %}
            <tr>
                <td>{{ rank['rank'] }}</td>
                <td>{{ rank['climber'] }}</td>
                <td>{{ rank['number_of_attempts'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}
